# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
out/
build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
/.vs/Celestials/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/Celestials/CopilotIndices/17.13.444.19527
/.vs/Celestials/v17
/.vs/cmake.db
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/CMakeLists - Copy.txt
/.vs/Celestials/FileContentIndex/88dd03ed-abac-4144-a05e-3f505ce0ec58.vsidx
/.vs
